*{
    margin:0px;
}
.full-height{
    height: 100vh;
}
.wd-max{
    width: max-content;
}

.mt-80 {
    margin-top: 80px;
}
.sidenav {
    background: #fff;
}

.top {
    background-image: url('../img/main-back.jpg');
    background-size: cover;
}

ul.nav-list {
    list-style-type: none;
}

a.nav-link{
    color: #ccc;
    position: relative;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-link::before{
    content: "";
    left: 0px;
    position: absolute;
    top: 20px;
    border-bottom: 2px solid #45c0ef;
    width: 6px;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;

}
.nav-link:hover {
    color: #45c0ef;
}
.nav-link:hover::before {
    width: 125px;
}

.tagline {
    width:400px;
    margin-left: 80px;
    padding-top: 52vh;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.Attendence {
    margin-left: 80px;
    width: 400px;
    
    
}
.text-center{
    font-family: 'Abril Fatface', cursive;
}
.col-lg-4{
   
    background-size: cover;
    
}
.col-lg-8{
    font-size: 25px;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
}

.book-card {
    background: #45c0ef;
    height: 400px;
}