*{
    margin:0px;
}
.full-height{
    height: 100vh;
}
.wd-max{
    width: max-content;
}
.txt-wh{
    color: #fff;
}

.mt-40 {
    margin-top: 40px;
}
.link-blue:hover{
    text-decoration: none;
    color: #45c0ef;
}
.link-blue{
    color: #45c0ef;
    font-size: 20px;
}

.header{
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-family: 'Muli', sans-serif;
}
.sidenav {
    background: #fff;
}

.top {
    background-image: url('../img/main-back.jpg');
    background-size: cover;
}

ul.nav-list {
    list-style-type: none;
}

a.nav-link{
    color: #85848D;
    position: relative;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-link::before{
    content: "";
    left: 0px;
    position: absolute;
    top: 20px;
    border-bottom: 2px solid #45c0ef;
    width: 6px;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;

}
.nav-link:hover {
    color: #45c0ef;
}
.nav-link:hover::before {
    width: 125px;
}

.tagline {
    width:400px;
    margin-left: 80px;
    padding-top: 52vh;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.Attendence {
    margin-left: 80px;
    width: 400px;
    
    
}

.col-lg-4{
   
    background-size: cover;
    
}
.col-lg-8{
    font-size: 25px;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
}

.book-card {
    background: #45c0ef;
    height: 300px;
    border-radius: 15px;
}

.author{
    font-size: 12px;
}

i.star{
    font-size: 12px;
    margin-right: 8px;
}

.dwnld-no{
    font-size: 12px;
}

.card-content{
    padding-left: 30px !important;
}

.end-links{
    margin: 50px auto 20px auto;
}