<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Muli|Abril+Fatface|Poppins&display=swap" rel="stylesheet">

</head>
<body>
    
        <!-- Code start here -->

        <div class="row" style="margin:0px;">

            <!-- Just the side nav -->
            <div class="col-lg-2 sidenav full-height " style="position: fixed;">
                    <div class="logo mx-auto ml-auto wd-max mt-80">
                        <img src="./img/logo.png" width="150px" alt="">
                    </div>

                    <ul class="nav-list mt-40">
                        <li class="nav-item"><a class="nav-link" href="#"> HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> ABOUT US</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> ATTENDENCE</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> RESOURCES</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> CONTACT US</a></li>
                    </ul>
            </div>

            <!-- Main Content -->
            <div class="col-lg-10 main full-height ml-auto" style="padding: 0px;">
                <section class="top full-height ">
                            <p class="tagline">
                              Searching for textbooks in University libraries is characteristically stressful.
                              Sign up and all the books you need,when you need them.  
                            </p>
                </section>


                <section class="resources">

                    <h3 class="header text-center">Your Library Anywhere</h3>
                    <p class="txt-wh text-center" style="color: #828282; font-size: 20px;font-weight: normal;margin: 20px auto 50px auto;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni maiores molestiae eaque aut voluptate quidem quisquam quibusdam officiis voluptas, dolorum exercitationem atque sunt error? Laborum dolorem ratione similique alias?                       </p>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row" >
                                <div class="col-lg-4">
                                    <div class="book-card" style="background: linear-gradient(180deg, #99D7FF 0%, #C4EAFF 100%)">
                                        <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book1.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #8bc4e0;border-radius: 4px;"></div>
                                                <div class="col-lg-8 card-content"><h4 class="txt-wh">The Glovemaker Novel</h3>
                                                                       <p class="txt-wh author" >Rober Doney <br><br>
                                                                        <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>

                                                                       </p>
                                                                      
                                                                       <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                       
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                        <div class="book-card" style="background: linear-gradient(180deg, #D6CFFF 0%, #BDB1FE 100%);">
                                                <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book2.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #3C2E87;border-radius: 4px;"></div>
                                                        <div class="col-lg-8 card-content"><h4 class="txt-wh ">The World of Abstract Art</h3>
                                                                               <p class="txt-wh author" >Rober Doney <br><br>
                                                                                <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
        
                                                                               </p>
                                                                              
                                                                               <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="col-lg-4">
                                        <div class="book-card" style="background: linear-gradient(180deg, #FECDD0 0%, #F9A8B3 100%);">
                                                <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book3.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #EC718E;border-radius: 4px;"></div>
                                                        <div class="col-lg-8 card-content"><h4 class="txt-wh">How To Be the Perfect Dutch</h3>
                                                                               <p class="txt-wh author" >Rober Doney <br><br>
                                                                                <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
        
                                                                               </p>
                                                                              
                                                                               <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                                <div class="row" >
                                        <div class="col-lg-4">
                                            <div class="book-card" style="background: linear-gradient(180deg, #99D7FF 0%, #C4EAFF 100%)">
                                                <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book1.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #8bc4e0;border-radius: 4px;"></div>
                                                        <div class="col-lg-8 card-content"><h4 class="txt-wh">The Glovemaker Novel</h3>
                                                                               <p class="txt-wh author" >Rober Doney <br><br>
                                                                                <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
        
                                                                               </p>
                                                                              
                                                                               <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="book-card" style="background: linear-gradient(180deg, #D6CFFF 0%, #BDB1FE 100%);">
                                                        <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book2.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #3C2E87;border-radius: 4px;"></div>
                                                                <div class="col-lg-8 card-content"><h4 class="txt-wh ">The World of Abstract Art</h3>
                                                                                       <p class="txt-wh author" >Rober Doney <br><br>
                                                                                        <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
                
                                                                                       </p>
                                                                                      
                                                                                       <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                                       
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="book-card" style="background: linear-gradient(180deg, #FECDD0 0%, #F9A8B3 100%);">
                                                        <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book3.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #EC718E;border-radius: 4px;"></div>
                                                                <div class="col-lg-8 card-content"><h4 class="txt-wh">How To Be the Perfect Dutch</h3>
                                                                                       <p class="txt-wh author" >Rober Doney <br><br>
                                                                                        <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
                
                                                                                       </p>
                                                                                      
                                                                                       <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                                       
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                          </div>
                          <div class="carousel-item">
                                <div class="row" >
                                        <div class="col-lg-4">
                                            <div class="book-card" style="background: linear-gradient(180deg, #99D7FF 0%, #C4EAFF 100%)">
                                                <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book1.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #8bc4e0;border-radius: 4px;"></div>
                                                        <div class="col-lg-8 card-content"><h4 class="txt-wh">The Glovemaker Novel</h3>
                                                                               <p class="txt-wh author" >Rober Doney <br><br>
                                                                                <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
        
                                                                               </p>
                                                                              
                                                                               <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="book-card" style="background: linear-gradient(180deg, #D6CFFF 0%, #BDB1FE 100%);">
                                                        <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book2.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #3C2E87;border-radius: 4px;"></div>
                                                                <div class="col-lg-8 card-content"><h4 class="txt-wh ">The World of Abstract Art</h3>
                                                                                       <p class="txt-wh author" >Rober Doney <br><br>
                                                                                        <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
                
                                                                                       </p>
                                                                                      
                                                                                       <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                                       
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="book-card" style="background: linear-gradient(180deg, #FECDD0 0%, #F9A8B3 100%);">
                                                        <div class="content" style="padding-top: 50px;padding-left: 20px;">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-sm-4 ml-auto mx-auto"><img src="./img/book3.jpg" alt="" height="200px;" style="box-shadow: 3px 3px 10px #EC718E;border-radius: 4px;"></div>
                                                                <div class="col-lg-8 card-content"><h4 class="txt-wh">How To Be the Perfect Dutch</h3>
                                                                                       <p class="txt-wh author" >Rober Doney <br><br>
                                                                                        <i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i><i class="fa fa-star txt-wh star"></i>
                
                                                                                       </p>
                                                                                      
                                                                                       <p class="txt-wh dwnld-no">500+ Downloads <i class="fa fa-download"></i></p>
                                                                                       
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                      <div class="end-links text-center">
                            <a class="ml-auto mx-auto link-blue" href="/">See All <i class="fa fa-long-arrow-alt-right"></i></a>

                      </div>
                </section>


                <section class="attendence">
                    <h3 class="header text-center"> Attendance in one Tap</h3>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-8" style="padding:20px;margin-top: 2% !important;">
                                <p class="txt-wh text-center" style="color: #828282; font-size: 20px;font-weight: normal;margin: 20px auto 50px auto;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad porro enim molestiae aliquam nam! Eius, ut perspiciatis nemo alias similique deleniti sequi dicta asperiores commodi deserunt earum nulla! Veritatis, nisi.
                                </p>
                                <div class="end-links text-center">
                                        <a class="ml-auto mx-auto link-blue" href="/">See Now <i class="fa fa-long-arrow-alt-right"></i></a>
            
                                  </div>
                        </div>
                        <div class="col-lg-4" style="padding: 0;">
                               <img src="progress.png" alt="">
                        </div>
                    </div>
                    
                </section>


                <section class="team">
                        <h1 class="text-center">Man Behind Scenes</h1>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 text-center" style="padding:0">
                            First
                        </div>
                        <div class="col-lg-4 text-center" style="padding: 0;">
                            Second
                        </div>
                        <div class="col-lg-4 text-center" style="padding: 0;">
                            Third
                        </div>
                    </div>
                </section>


            </div>
        </div>

    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>