<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 
</head>
<body>
    
        <!-- Code start here -->

        <div class="row" style="margin:0px;">

            <!-- Just the side nav -->
            <div class="col-lg-2 sidenav full-height " style="position: fixed;">
                    <div class="logo mx-auto ml-auto wd-max mt-80">
                        Logo Here
                    </div>

                    <ul class="nav-list mt-80">
                        <li class="nav-item"><a class="nav-link" href="#"> HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> ABOUT US</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> ATTENDENCE</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> RESOURCES</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"> CONTACT US</a></li>
                    </ul>
            </div>

            <!-- Main Content -->
            <div class="col-lg-10 main full-height ml-auto" style="padding: 0px;">
                <section class="top full-height ">
                            <p class="tagline">
                              Searching for textbooks in University libraries is characteristically stressful.
                              Sign up and all the books you need,when you need them.  
                            </p>
                </section>


                <section class="resources">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="book-card">
                                        Hello card 1
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </section>


                <section class="attendence">
                    <h1 class="text-center">Attendance On One Tap</h1>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-8" style="padding:20px;">
                            <p><strong>Planning for a Massbunk? </strong> <br> Login your Profile with your Registration ID and Password to checkout your newly updated attendance.</p>
                            <a href="#"> See Now </a>
                        </div>
                        <div class="col-lg-4" style="padding: 0;">
                               <img src="progress.png" alt="">
                        </div>
                    </div>
                </section>


                <section class="team">
                        <h1 class="text-center">Man Behind Scenes</h1>
                    <div class="row" style="margin: 0;">
                        <div class="col-lg-4 text-center" style="padding:0">
                            First
                        </div>
                        <div class="col-lg-4 text-center" style="padding: 0;">
                            Second
                        </div>
                        <div class="col-lg-4 text-center" style="padding: 0;">
                            Third
                        </div>
                    </div>
                </section>


            </div>
        </div>

    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>